<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbAeoUHY5ptkBe-xR54A45fVnJX7iS3YA</string>
	<key>GCM_SENDER_ID</key>
	<string>425631894947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ploDriverApp</string>
	<key>PROJECT_ID</key>
	<string>geetaxi-aa379</string>
	<key>STORAGE_BUCKET</key>
	<string>geetaxi-aa379.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425631894947:ios:e9b63aa2e048a45095de16</string>
	<key>DATABASE_URL</key>
	<string>https://geetaxi-aa379-default-rtdb.firebaseio.com</string>
</dict>
</plist>